<br>
<br>
<br>
<div class="panel panel-default">
  <div class="panel-body">
    <p id="all-messages">Thank you. We have received your message and will get back to you ASAP.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
