<br>
<br>
<br>
<div class="panel panel-default">
  <div class="panel-body">
    <p id="all-messages">Your order was successfully processed by The Mixer, so it'll be with you soon.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
