<br>
<br>
<br>
<div class="panel panel-default">
  <div class="panel-body">
    <p id="registration-messages">You now have your Mixer profile, so please feel free to give us a shout.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
