<br>
<br>
<br>

<div class="row orders-overview">
  <% @orders.each do |order| %>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 orders-frame">
      <section class="orders-details">
        <h1 class="orders-numbers">
          Order # <%= order.id %>:
        <p><%= link_to order.product.name, order, class: "orders-names" %></p>
        </h1>
        <p id="orders-descriptions"><%= order.product.description %></p>
        <p id="orders-prices">$<%= order.product.price %></p>
        <hr>
      </section>
    </div><!-- /col -->
  <% end %>
</div>
