// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// * {
//     outline: 1px solid red;
// }

table {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  // table-layout: fixed;
  // line-height: 1.3vw;
}

form {
  margin-left: 2.3vw;
}

.links-products {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  display: inline-block;
}

.links-show {
  padding-left: 3.9vw;
  padding-right: 3.9vw;
}

.links-edit, .links-new {
  padding-left: 2.6vw;
  padding-right: 2.6vw;
}

.table-row {
  line-height: 2vw;
  padding-left: 0px;
  padding-right: 0px;
  // overflow: hidden;
}

#name, #description, #image {
  width: 16.6%;
  // margin: 0 auto;
  // min-width: 1%;
  text-align: center;
  // display: table-cell;
}

// .product-table {
//   // width: 1%;
//   display: table-cell;
//   text-align: center;
//   // display: table-cell;
// }

// .links-products {
//   display: inline;
  // display: hidden;
  // text-overflow: ellipsis;
  // width: 25%;
  // text-align: center;
// }

#new-products {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#new-products>a:hover {
  color: #F77E14;
  transition: 0.6s;
  -webkit-transition: 0.6s;/* Safari */
}

#new-products>a:visited {
  color: #5AD4C2;
  transition: 0.6s;
  -webkit-transition: 0.6s;/* Safari */
}

label {
  line-height: 1.3em;
}

.actions input {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.actions input:hover {
  color: #F77E14;
}

.actions>input {
  // width: 100%;
  line-height: 1.9em;
  color: #ff0;
  background-color: #F77E14;
}

#edit-h, #new-h {
  margin-right: 0;
  margin-left: 0;
  width: 73%;
}

input, textarea {
  width: 73%;
  line-height: 1.9em;
}

#new-products>a {
  // margin-left: 2.3vw;
  margin-right: 0.5vw;
}

// .actions:focus {
//   outline-color: #F77E14;
//   width: 50%;
// }

// col {
//   width: 50%;
// }


/* Typography */

th {
  font-family: 'Fugaz One', Arial Black, Impact, sans-serif;
  font-size: calc(0.8em + 1.1vw);
}

.product-table {
  font-family: 'Cousine', Arial Black, Impact, sans-serif;
  font-size: calc(0.6em + 1.3vw);
}

label {
  font-family: 'Fugaz One', Arial Black, Impact, sans-serif;
  font-size: calc(0.9em + 0.9vw);
}

.actions {
  font-size: calc(0.6em + 1.8vw);
  font-family: 'Syncopate', Arial Black, Futura, sans-serif;
}

.links-products>a {
  font-family: 'Monofett', Arial Black, Impact, sans-serif;
  font-size: calc(0.9em + 1.6vw);
}

a {
  font-family: 'Monofett', Arial Black, Impact, sans-serif;
  font-size: calc(1.6em + 1.9vw);
}
