<br>
<br>
<br>
<h1 id="edit-h">Editing Product</h1>

<br>

<%= render 'form', product: @product %>

<br>

<div class="link-frame">
  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', products_path %>
</div>
