<br>
<br>
<br>
<h1 id="edit-h">Editing Product</h1>

<br>

<%= render 'form', product: @product %>

<br>

<div class="links-products-form">
  <%= link_to 'Show', @product, :class => "links-edit" %> |
  <%= link_to 'Back', products_path, :class => "links-edit" %>
</div>
